<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(titulo='Cadastro de Usuário', content=~{::content})}">

<th:block th:fragment="content">
    <div class="container">
        <h1 class="my-4">Cadastro de Novo Usuário</h1>
        <form th:action="@{/salvarusuario}" th:object="${usuario}" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" th:field="*{username}" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" th:field="*{password}" required>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="isAdmin" th:field="*{isAdmin}">
                <label class="form-check-label" for="isAdmin">É Administrador?</label>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
</th:block>
</html>